<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer>
      <handlers>
        <remove name="aspNetCore"/>
        <add xdt:Transform="Replace" name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
      </handlers>
      <aspNetCore xdt:Transform="Replace" processPath="dotnet" arguments=".\BA.BoiseAutoMetric.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <rewrite xdt:Transform="Insert">
        <rules>
          <clear/>
          <rule name="RedirectToHTTPS" stopProcessing="false">
            <match url="(.*)"/>
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true"/>
              <add input="{HTTP_HOST}" pattern="^boiseautometric.com$" ignoreCase="true" negate="true"/>
            </conditions>
            <action type="Redirect" url="https://boiseautometric.com{REQUEST_URI}" redirectType="Permanent"/>
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>