@page
@model BA.BoiseAutoMetric.Pages.PageNotFoundModel
@section Head
{
    <title>404 Not Found - Auto Metric</title>
    <meta name="description" content="This page could not be found. Please visit our services page.">
}
<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>404 Not found</h1>
            <p>No such page exists at this location.</p>
            <p>Check out our <a asp-page="/Services">services page!</a></p>
        </div>
    </section>
</main>