@page "/about-us"
@model BA.BoiseAutoMetric.Pages.AboutModel
@section Head
{
    <title>About Us | Auto Metric | Boise Idaho</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/about-us" />
    <meta property="og:site_name" content="About Us | Auto Metric | Boise Idaho" />
    <meta property="og:title" content="About Us | Boise Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/about-us" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="ASE Certified Mechanics: (208) 338-8483. About Boise Auto Metric. Excellent service, superior workmanship. We are your neighborhood Garage!" />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/about-us" />
    <meta name="description" content="ASE Certified Mechanics: (208) 338-8483. About Boise Auto Metric. Excellent service, superior workmanship. We are your neighborhood Garage!">
    <meta itemprop="description" content="ASE Certified Mechanics: (208) 338-8483. About Boise Auto Metric. Excellent service, superior workmanship. We are your neighborhood Garage!" />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="About Boise's Premier Foreign Car Experts - Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/about-us" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="ASE Certified Mechanics: (208) 338-8483. About Boise Auto Metric. Excellent service, superior workmanship. We are your neighborhood Garage!" />
}
@section Schema
{
    <script type="application/ld+json">{"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"domestic car repair, foreign car repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://westernsiding.com/","name":"About Boise's Premier Foreign Car Experts - Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}</script>
}
<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                About Us | Full Auto Services in Boise, Idaho
            </h1>
            <p>
                Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars. Our auto repair technicians have the latest test equipment and training to work on current models, and the experience to keep older cars in excellent condition.
            </p>
            <p>
                We have always been known for customer satisfaction, and it is our focus at all times. We are dedicated to detail and are passionate about restoring your car back to optimal condition. You will always feel exceptionally well taken care of at Boise Auto Metric, and drive away with a sense of confidence about your auto repairs and the maintenance of your car. You always have been and always will be our #1 priority.
            </p>
            <p>
                We take pride in our honesty. We charge what we quote. Most mechanics won't give you all the details up front and will surprise you with additional costs when you come to pick your car up. We don't do that! We'll tell you everything up front so you know what to expect. No surprises from us! And if we find an unexpected problem in your vehicle, we'll call you before doing anything.
            </p>

            <h1>
                The Foreign Car Specialists | Foreign Car Repairs in Boise
            </h1>
            <p>
                We specialize in foreign car repair. Volvo, Volkswagen, BMW, Mercedes-Benz, Nissan, Porsche, Mazda, Honda, to name a few. But of course, the list goes on and we can do them all.
            </p>
            <p>
                Joe Garza and our capable team are the affordable, and quite honestly a more dependable, alternative to dealers and expensive foreign car repair shops. Not only is it cheaper and easier to come to us, it's the better decision to make for your foreign car. We'll take better care of it than our competitors will. And let's face it. No one wants to go to a dealer.
            </p>
            <h1>
                Your Neighborhood Garage | Auto Metric Boise
            </h1>
            <p>
                It's our favorite thing to say. We work and live in the neighborhood we serve. But our reach goes far beyond that. Located in Boise, we regularly service all of the Treasure Valley. Not many mechanics can say that, but we can and we say it proudly. We're also one of the only mechanics that can pick up your car when needed.
            </p>
            <p>
                Robert, our ASE Certified Master Mechanic has over 40 years of auto repair experience. Now THAT'S reliability! Robert likes to fish, camp, travel and spend time with family.
            </p>
            <p>
                Joe, Owner and Apprentice Master Mechanic with over 25 years of auto repair experience, Likes to fish, camp, ride motorcycles and spend time with family.
            </p>
            <p>
                And of course, as the neighborhood garage, we don't just take foreign vehicles! We take care of our own, like Chevys, Fords, Chryslers, Dodge, Rams, and Jeeps. Domestic is no problem at all.
            </p>
            <h1 style="text-align: center;">
                For a Boise auto repair, bring your car in to Boise Auto Metric!
            </h1>
            <a asp-page="/Contact" class="button" style="text-decoration: none;">CONTACT US TODAY</a>
        </div>
    </section>
</main>
