@page "/ac-repair-air-conditioner-repairs"
@model BA.BoiseAutoMetric.Pages.ACRepairsModel
@section Head
{
    <title>Idaho AC Repairs Boise - Auto Metric</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/ac-repair-air-conditioner-repairs" />
    <meta property="og:site_name" content="Auto Metric" />
    <meta property="og:title" content="Idaho AC Repairs Boise - Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/ac-repair-air-conditioner-repairs" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="If you're getting burned because your AC is down call the professional ASE certified mechanics at Auto Metric. Allow your neighborhood garage with over 40 years of auto experience to get you back on the road in comfort." />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/ac-repair-air-conditioner-repairs" />
    <meta name="description" content="If you're getting burned because your AC is down call the professional ASE certified mechanics at Auto Metric. Allow your neighborhood garage with over 40 years of auto experience to get you back on the road in comfort.">
    <meta itemprop="description" content="If you're getting burned because your AC is down call the professional ASE certified mechanics at Auto Metric. Allow your neighborhood garage with over 40 years of auto experience to get you back on the road in comfort." />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="Idaho AC Repairs Boise - Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/ac-repair-air-conditioner-repairs" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="If you're getting burned because your AC is down call the professional ASE certified mechanics at Auto Metric. Allow your neighborhood garage with over 40 years of auto experience to get you back on the road in comfort." />
}
@section Schema
{
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"domestic car repair, foreign car repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://westernsiding.com/","name":"About Boise's Premier Foreign Car Experts - Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}
    </script>
}
<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                AC Repairs in Boise, ID
            </h1>
            <p>
                The temperatures in the Treasure Valley can get extremely hot, which makes driving in your vehicle highly uncomfortable when the AC isn't working. If you're getting burned because your AC is down call the professional ASE certified mechanics at Auto Metric. Allow your neighborhood garage with over 40 years of auto experience to get you back on the road in comfort.
            </p>
            <h2>
                Signs Your Car's AC Needs Repairs
            </h2>
            <p>
                There are numerous reasons why your car's AC isn't working right. Here are only a few of the reasons.
            </p>
            <h3>
                Difference in Cooling
            </h3>
            <p>
                The most obvious one is the difference in cooling. If you turn on you AC on full and you get only faint cool air movement or just air movement without it being cool then there's a problem with your car's AC. Possible problems could be the evaporator or condenser are being blocked or refrigerant isn't being introduced into the system.
            </p>
            <h3>
                Loud Noises When AC is On
            </h3>
            <p>
                Noises like squealing or grinding while the AC is running could be the compressor experiencing problems. The compressor is responsible for compressing hot gas and pumping it through the condenser and evaporator. This produces the cool air. Over time, this process will wear out your compressor and those sounds are a warning sign.
            </p>
            <h3>
                Oil Leaks
            </h3>
            <p>
                An oil leak can compromise the AC system; evaporator, compressor, condenser, lines or fittings. Any compromise can cause oil and refrigerant to leak. This leaking will cause the AC system's ability to function at peak performance and produce cool air. These leaks might not be visible without a mechanic taking a look.
            </p>
        </div>
    </section>
</main>