@page "/audi"
@model BA.BoiseAutoMetric.Pages.AudiModel
@section Head
{
    <title>Audi - Auto Metric</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/audi" />
    <meta property="og:site_name" content="Auto Metric" />
    <meta property="og:title" content="Audi - Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/audi" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/audi" />
    <meta name="description" content="">
    <meta itemprop="description" content="" />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="Idaho AC Repairs Boise - Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/audi" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="" />
}
@section Schema
{
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"domestic car repair, foreign car repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://westernsiding.com/","name":"About Boise's Premier Foreign Car Experts - Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}
    </script>
}
<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                Audi | Foreign Car Specialists | Audi Repair Boise
            </h1>
            <p>
                Audis are well known for their technology, excellent engineering, speed, and high quality. Sit inside and feel the difference of an Audi interior. It stands apart from other cars.
            </p>
            <p>
                The slowest of the Audi cars from this century can go from 0 mph to 60 mph in 12.1 seconds. The fastest Audi model has a 0 to 60 rate of 2.8 seconds.
                These German luxury cars have their own all wheel drive system (AWD) known as Quattro, making Audi the luxury car of choice if you live in a place that gets a lot of snow. The Audi models that aren’t AWD are usually front wheel drive (FWD).
            </p>
            <h2>
                About the Audi Brand | Audi Specialists Boise, Idaho
            </h2>
            <p>
                Audi is a German luxury car brand known for speed. They produce sport cars, sedans, and SUVs.
            </p>
            <p>
                There were many companies and names leading up to it (all the way back to 1885), but the actual Audi name and company was established in 1910 as Audi Automobilwerke. By 1920, the brand was internationally known. They produced the first ever left-hand drive car, the Audi Type K, which was extremely popular during the twenties.
            </p>
            <p>
                Between 1928 and 1932, Audi merged with three other companies. This four company merger is what inspired the Audi logo- 4 interlocking rings. At this time, the name of the new company changed to Auto Union, and it focused greatly on the technology of their productions (Audi to this day is extremely technology focused). Soon after, the world’s first 6-cylinder front wheel drive car was made, the Audi Front.
            </p>
            <p>
                The company was basically destroyed by World War 2. However, they managed to start again in 1949, and in 1960 they were bought out by Daimler-Benz. In 1965, the original Audi brand name was restored.
            </p>
            <p>
                You might be surprised to learn that Audi today is actually owned by Volkswagen. Volkswagen started with a 50% holding in 1964. Their holding has slowly increased until they had a holding of 99.64%. It was announced in 2020 that they would be buying out the remaining 0.46%.
            </p>
            <h2>
                The Pros of Audis
            </h2>
            <p>
                Audis are fast. Fast enough that the company actually underrates the horsepower and performance of their vehicles. Many other manufacturers overrate their vehicles, and then you’re disappointed when you can’t get the performance out of your vehicle that you expected. But your Audi will very well outperform what the manufacturer says it can do.
            </p>
            <p>
                So long as you’re treating your Audi right, it’ll treat you right. Keep up on maintenance and repairs and they’ll last you forever.
            </p>
            <p>
                Our favorite Audi models are the Q3s, Q5s, and Q7s. There’s more room to work on the engine, so it doesn’t have to be removed for mechanic work. The 2 liter FSL engines are great. The years 2008-2017 have made some of the best of these models.
            </p>
            <h2>
                The Cons of Audis
            </h2>
            <p>
                For most Audis, the engine has to come completely out of the car for mechanic work. This creates hours worth of work and high labor costs. Repairs on Audis are expensive, so be prepared.
            </p>
            <p>
                We don’t see this one so much as a con simply because this is just what comes when owning a foreign luxury vehicle, but it’s important to take your Audi to a specialist. It will save you time, money, and hassle later. You might see this as a con, since it takes a little extra work to find a good mechanic. You shouldn’t just drop your Audi off anywhere. Make sure it’s in good hands with an experienced Audi mechanic.
            </p>
            <p>
                Audi has long been known for having some of the worst reliability ratings. However, if you maintain your Audi well and take it to a specialized mechanic, we’ve found Audis to be very reliable.
            </p>
            <p>
                Older Audis and Audis over 100k miles tend to have oil leaks.
            </p>
            <h2>
                Auto Metric, Boise Foreign Car Repair | Audi Expert Boise
            </h2>
            <p>
                Auto Metric is THE foreign car specialist of Boise! We see Audis all the time. We know them like the back of our hand. Audis are a specialized vehicle that require specialized care. Take your baby to someone who knows how to care for it properly.
            </p>
            <p>
                At Boise Auto Metric, we take our auto repairs and maintenance seriously, and we value our customers. We pride ourselves on our communication, honesty, and charging what we quote. For full car repairs in Boise, Idaho, come to us.
            </p>
            <p>
                Schedule today for your next <a asp-page="/Contact">Audi maintenance!</a>
            </p>
        </div>
    </section>
</main>