@page "/check-engine-light-diagnostics"
@model BA.BoiseAutoMetric.Pages.CheckEngineLightDiagnosticsModel
@section Head
{
    <title>Check Engine Light Diagnostics - Auto Metric</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/check-engine-light-diagnostics" />
    <meta property="og:site_name" content="Auto Metric" />
    <meta property="og:title" content="Check Engine Light Diagnostics - Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/check-engine-light-diagnostics" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/check-engine-light-diagnostics" />
    <meta name="description" content="">
    <meta itemprop="description" content="" />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="Idaho AC Repairs Boise - Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/check-engine-light-diagnostics" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="" />
}
@section Schema
{
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"domestic car repair, foreign car repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://westernsiding.com/","name":"About Boise's Premier Foreign Car Experts - Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}
    </script>
}

<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                Engine Diagnostic Services and Automotive Diagnostics
            </h1>
            <p>
                When your vehicle begins to act up, it is important to make sure to get in and get your car diagnosed. An accurate diagnosis can save you time and money in fixing the problem. Too many people have been left stranded on the side of the road due to ignoring their check engine light.
            </p>
            <h2>
                What is Automotive Diagnostics?
            </h2>
            <p>
                Automotive diagnostics is when an auto mechanic uses a computer or diagnostic device, such as an OBD I or OBD II scanner to determine the specific problem the vehicle is experiencing. These tests are typically done externally and take little time. Sometimes, though, an auto mechanic may have to physically diagnose the vehicle.
            </p>
            <p>
                Other diagnostic tests may include computer tests, road testing, and performance testing. Whether it is a simple scan or a deep check, these tests can prevent many expensive and time consuming repairs down the road.
            </p>
            <h2>
                When Should I Get a Diagnostic Check?
            </h2>
            <p>
                Typically, a diagnostic test is done when a dashboard warning light comes on. This can appear as a check engine light or as a service engine light. Warning lights can be a sign that your vehicle may need engine diagnostic testing, maintenance services, or auto repair services.
            </p>
            <p>
                Anytime you feel there may be something wrong with your vehicle or there is a warning light on your dashboard, you can always request a diagnostic check or test to be sure. We highly recommend getting a car diagnostic test when your check engine light comes on.
            </p>
            <p>
                Early testing can be a beneficial part of preventative care for your vehicle. Preventative care can make the difference between a new sensor and a new car.
            </p>
            <h2>
                How does the diagnostic check work?
            </h2>
            <p>
                Before the test scans are even started, a mechanic may ask some questions to try to narrow down the possible problems. Sometimes, a noise or a smell can change the whole course of action for the mechanic and can determine whether or not a scan is the best choice for diagnosing the problem.
            </p>
            <p>
                When a diagnostic test is done, the mechanic uses a device to find the diagnostic trouble codes. These are codes that the computer in the car uses to tell the mechanic what is damaging the engine performance. Once the test is complete, you may be offered other diagnostic services or possibly engine or vehicle repair services.
            </p>
            <p>
                Some of the things the mechanics look for may include; oil pressure, censor function, braking systems, spark plug fouls, and many more. Not all things can be diagnosed with scanners though. Things like exhaust system leaks and catalytic converters may not be able to be diagnosed through a scanner or device.
            </p>
            <p>
                The scanners used to get the codes are great diagnostic tools. They usually show the code and a brief explanation of the issue. A scanner may give you a code made of numbers and letters that make no sense to the average person, but also has a description such as “O2 SENSOR” which is easier to tell means there is a problem with the oxygen sensor then a code with just numbers and letters.
            </p>
            <p>
                If the scan doesn't give the mechanic enough information to solve the problem or to be able to give you a good recommendation on how to fix the problem, they may run a computer test or a diagnostic test to find the root of the problem. A road test may also be necessary for some testing. Road tests are often used to diagnose exhaust problems and mechanical issues not detectable by the computers.
            </p>
            <h2>
                Should you get Tested?
            </h2>
            <p>
                When it comes to auto care, you want to stay ahead of the game and be ready to fix the errors early to prevent long term or extensive damage to the car's engine.  We recommend trying to avoid driving with a check engine light on. The longer you drive with service lights on, the more likely you are to cause long term damage to your vehicle. When the light comes on, find your way to an auto repair center where they may use a code reader to diagnose the problem.
            </p>
        </div>
    </section>
</main>