@page "/complete-safety-analysis"
@model BA.BoiseAutoMetric.Pages.CompleteSafetyAnalysisModel
@section Head
{
    <title>Complete Safety Analysis - Auto Metric</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/complete-safety-analysis" />
    <meta property="og:site_name" content="Auto Metric" />
    <meta property="og:title" content="Complete Safety Analysis - Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/complete-safety-analysis" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/complete-safety-analysis" />
    <meta name="description" content="">
    <meta itemprop="description" content="" />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="Idaho AC Repairs Boise - Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/complete-safety-analysis" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="" />
}
@section Schema
{
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"domestic car repair, foreign car repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://westernsiding.com/","name":"About Boise's Premier Foreign Car Experts - Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}
    </script>
}

<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                Complete Safety Analysis of Your Vehicle
            </h1>
            <p>
                When you plan to take a road trip and/or just after you take a road trip, It might be time to get a safety check done on your vehicle. Safety checks are a preventative method of taking care of your car. When you get a complete safety check of your car, you may find problems that could have potentially put you or your loved ones in danger.
            </p>
            <h2>
                Why is it Important to Get a Safety Analysis?
            </h2>
            <p>
                When you get a safety analysis check on your vehicle, you are potentially preventing injury and possibly death. The complete safety analysis of a car can show problems involving seat belts, airbags, tires, and the motor of your vehicle. If any of these things are not suitable for travel before a trip you could be at risk of being involved in a motor vehicle crash.
            </p>
            <p>
                Anytime you are traveling on the highway or freeway for an extended period of time, it is recommended that you have a risk assessment done on your vehicle to prevent accidents and damage to the environment.
            </p>
            <h2>
                What are Some of the Important Things Checked?
            </h2>
            <p>
                Some of the most important things checked are; checking for warning lights, ensuring that all signal lights, indicator lights, and headlights are working properly, making sure that the fluids needed for proper function are at the appropriate level and quality, inspecting the tire pressure, tread, and alignment of the tires, checking seat belts and car seats for correct installation as well as to insure safety, checking for airbag warning lights and checking the recall list, inspecting the brakes, and checking for leaks.
            </p>
            <h2>
                Warning Lights
            </h2>
            <p>
                Warning lights can be a sign that an important function of your vehicle has or will fail. This can lead to vehicle failure that could cause accidents and injuries and can even cause you to get stranded and lead to a significant financial impact.
            </p>
            <h2>
                External Lights
            </h2>
            <p>
                Signals, indicators, and headlights are extremely important when driving, especially long distances.
            </p>
            <p>
                Your signals let other people around you know what direction you are trying to go. Failures in the system as well as failure to utilize signals can lead to accidents and severe and possibly life threatening injury.
            </p>
            <p>
                Indicators such as the hazard lights and brake light indicate when there is a problem and/or change of speed. Without hazard identification, other drivers would not see that there is a disabled vehicle in the road until it is too late to take preventative measures. Brake lights are similar in the fact that without them other drivers may not notice the change of speed.
            </p>
            <p>
                Headlights are extremely important because they allow you to see the road and a limited amount of your surroundings at night. As visibility lessens, driving becomes less of a safe option for travel. You want your field of visibility to be as wide and long as possible. Always ensure that your low and high beams are both working properly to ensure the best night time visibility.
            </p>
            <h2>
                Fluids and Leaks
            </h2>
            <p>
                Checking the fluids in your vehicle should be a part of your regular routine. Oil, coolant, transmission fluid, and brake fluid are vital to the function and performance of your vehicle. Checking the fluids regularly helps to prevent wear on the motor and on the compartments in which the fluids are stored in the vehicle such as the radiator or oil pan.
            </p>
            <p>
                Leaks can become dangerous not only to you but to other drivers as well as the environment. Some of the fluids in a vehicle can be toxic and cause injury or illness. None of the liquids we put into our cars are safe to eat or drink, they are toxic to the human body and can be harmful to plants and animals when spilt. Getting a thorough check before taking a trip can help to avoid dangerous and hazardous incidents on the road.
            </p>
            <p>
                Fuel and oil are both potentially flammable and corrosive. Both are identified hazards and should be handled with care.
            </p>
            <p>
                If you find a fuel leak, shut off your vehicle and move a safe distance of at least 20 feet from the spill. Use separate, portable, non flammable signal lights to allow other vehicles to see you. Call 911 or the local emergency line to notify the appropriate authorities.
            </p>
            <h2>
                Tires
            </h2>
            <p>
                Correct tire pressure and correct amount of tread are immensely vital to risk management. There are 11,000 tire-related car accidents a year in the United States alone, the number of deaths associated with tire related accidents is aproximatly 200 a year. Vehicle safety checks can lower the number of deaths involved by ensuring the proper tire pressure and notifying you that your tires need changed or rotated.
            </p>
            <p>
                Alignment is also a factor in safe tires. The alignment is what allows you to move the vehicle where you want it to go. If the alignment is off or fails, you could end up accidentally driving into the other lane or even off the road. These types of accidents can lead to injuries and fatalities.
            </p>
            <h2>
                On Board Safety Features
            </h2>
            <p>
                On board safety features may include; seatbelts, carsets, and airbags.
            </p>
            <p>
                Checking that the car seat or booster seat is safely secured to the vehicle seat by the seat belt is important to the safety and wellbeing of the young passengers in the vehicle. Highway safety includes the safety of passengers in motor vehicles. About 17% of all motor vehicle crash deaths were passengers and 2% of them were children. Appropriate usage of car seats and safety belts can save lives and prevent serious injury.
            </p>
            <p>
                Airbags can also save lives and prevent serious injury. Injuries caused by failed or damaged airbags can be fatal or have long term effects. Before taking a trip be sure that all the safety features in your vehicle are working properly.
            </p>
        </div>
    </section>
</main>