@page "/complete-auto-repairs"
@model BA.BoiseAutoMetric.Pages.CompleteAutoRepairModel
@section Head
{
    <title>Complete Auto Repair - Auto Metric</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/complete-auto-repair" />
    <meta property="og:site_name" content="Auto Metric" />
    <meta property="og:title" content="Complete Auto Repair - Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/complete-auto-repair" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/complete-auto-repair" />
    <meta name="description" content="">
    <meta itemprop="description" content="" />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="Idaho AC Repairs Boise - Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/complete-auto-repair" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="" />
}
@section Schema
{
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"domestic car repair, foreign car repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://westernsiding.com/","name":"About Boise's Premier Foreign Car Experts - Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}
    </script>
}

<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                High-Quality & Complete Automotive Repair Services
            </h1>
            <p>
                When time comes to have a vehicle serviced, the stress is high and our tolerance for problems is low. There are quite a few important factors to consider before taking your car in to be serviced.
            </p>
            <h2>
                What is Important When it Comes to Car Care?
            </h2>
            <p>
                There are a few major aspects when deciding where and when to get your vehicle serviced. First, you want to make sure that the auto shop is licensed and insured before allowing them to work on your vehicle. This will save you if something goes wrong when they are in possession of your vehicle.
            </p>
            <p>
                You should also make sure that the shop has the necessary tools and capabilities that are necessary for the repairs you need. You should always ask questions about the qualifications of your repair shop and their mechanics. If you are unsure of whether or not a company is qualified to service your vehicle, ask questions.
            </p>
            <p>
                To be able to get the best auto repair service for your vehicle, you have to have a certain level of trust with the mechanic and the shop. You can look the shop up on social media or on their website to see customer satisfaction reviews and read about some of the customer experiences. You may also be able to speak with customer support before purchasing a service to ask questions about qualifications and capabilities.
            </p>
            <h2>
                What are Some of the Services Included in Complete Auto Care?
            </h2>
            <p>
                Some of the products and services that may be included in complete auto care are; oil change and oil, tire rotation, brake repair or replacement, fluid changes and fills, oil filter and air filter changes, and other maintenance services. Every place may vary and you should always confirm the extent in which the shop offers the services before scheduling an appointment.
            </p>
            <h2>
                Tires and Breaks
            </h2>
            <p>
                Regular rotations of your tires as well as brake repairs or replacements are extremely important in preventing accidents on the road. When you rotate your tires, you extend the life of your tires and prevent uneven wear of the tread.
            </p>
            <p>
                There are different types of tire rotation patterns. Some tire tread is one directional. This means the tire can only face one way. When the tire is one directional, ther rotation pattern is front to back meaning that the front and rear tires are swapped on their respective side.
                Other tires are all-directional tires which do not have a specific tread direction. These tires can be rotated front to back or side to side. This means that the rear wheels can be swapped as well as the front tires can be swapped.
            </p>
            <p>
                Breaks are another important part of daily driving. Making sure your brakes are wearing evenly can prevent devastating incidents in the future. Uneven wear of breaks can be a sign that some other part of your brake system is in need of repair or replacement.
            </p>
            <h2>
                Oil and Other Fluid Changes
            </h2>
            <p>
                Oil changes should be done every 1000 miles or every six months whichever comes first. When the oil is changed you should replace the oil filter and oil with high quality products that are recommended for your vehicle. Getting your oil changed can help prevent other engine related problems.
            </p>
            <p>
                Some other fluids you may need changed are transmission fluid, coolant, and differential fluid when necessary. Regular maintenance of said fluids can prevent expensive projects later down the road.
            </p>
            <h2>
                Do you Need to Schedule an Appointment?
            </h2>
            <p>
                Getting regular maintenance done on your vehicle is the best preventative method for your vehicle. To help prevent you from having an expensive and time consuming project in the future we recommend scheduling your complete automotive repair service appointment today!
            </p>
        </div>
    </section>
</main>