@page "/complete-computer-diagnostics"
@model BA.BoiseAutoMetric.Pages.CompleteComputerDiagnosticsModel
@section Head
{
    <title>Complete Computer Diagnostics - Auto Metric</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/complete-computer-diagnostics" />
    <meta property="og:site_name" content="Auto Metric" />
    <meta property="og:title" content="Complete Computer Diagnostics - Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/complete-computer-diagnostics" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/complete-computer-diagnostics" />
    <meta name="description" content="">
    <meta itemprop="description" content="" />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="Idaho AC Repairs Boise - Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/complete-computer-diagnostics" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="" />
}

@section Schema
{
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"domestic car repair, foreign car repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://westernsiding.com/","name":"About Boise's Premier Foreign Car Experts - Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}
    </script>
}


<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                Complete Computer Diagnostic of your Vehicle
            </h1>
            <p>
                Sometimes, when the check engine light comes on, a simple diagnostic test is not enough. Warning lights are signs that indicate a problem in the vehicle. When you have warning lights and simple diagnostics are not enough, you may need complete computer diagnostics.
            </p>
            <h2>
                What is Computer Diagnostics?
            </h2>
            <p>
                Auto shops use computers to diagnose your cars issues by connecting a device such as an OBD I, OBD II, or computer code scanner to a vehicle and pull error codes from sensors and. Error or fault codes are the codes that the engine control module (ECM) or powertrain control module (PCM) send when there is a problem with the vehicle that can be detected.
            </p>
            <p>
                Diagnostic services are a great way to find out what is wrong with a vehicle without having to pull the whole thing apart and replace each individual part.
            </p>
            <p>
                Some other scan tools used to find engine codes is a specific type of computer system. This system makes a direct link to the car’s “brain”. It is a code reader that can get to and see the codes in more detail. It can also be used for resetting trouble codes and tuning the vehicle.
            </p>
            <h2>
                What are Trouble codes?
            </h2>
            <p>
                Trouble codes, error codes, and engine codes are pretty similar in the fact that they are signals that the computer of the car sends out to let you and the mechanics know that there is a problem and in ideal situations what the problem is.
            </p>
            <p>
                The most common of the scanner tools is the OBD2 scanner but some vehicles require an OBD1 scanner or even a direct link from a diagnostic computer.
            </p>
            <p>
                Car diagnostic tools such as the OBD I and OBD II can give you a pretty good idea of what is going on under the hood but, they may give you the code in a way that seems foreign. If you do not know the language of car codes, then simply getting the codes may not be beneficial in diagnosing your vehicle.
            </p>
            <p>
                In automotive diagnostic testing, the diagnostic trouble codes are similar to an outline in giving the mechanics a good starting point for diagnosing the vehicle.
            </p>
            <h2>
                Is it good to reset the codes?
            </h2>
            <p>
                We do not recommend resetting the error codes that your vehicle puts off. This could cause very expensive and time consuming fixes in the future.
            </p>
            <p>
                When the code or codes are reset or deleted, the vehicle will run as if there is no problem. This may seem favorable, but it can cause a lot of damage to the engine and/or the electrical.
            </p>
            <p>
                When you reset the codes, the manufacturer can then void any warranty you may have. This prevents you from having the manufacturer fix any faults in the system that were not caused by something you did.
            </p>
            <p>
                When the problem associated with the code is fixed, the code should automatically reset and the service engine light should in turn shut off. If the signal does not disappear, then chances are there is another problem that needs further assessment.
            </p>
            <h2>
                What can a Computer Diagnostic tell me?
            </h2>
            <p>
                There is a variety of information a computer can pull from an engine. In some cases, they can tell you the emotions the vehicle is producing, in some others, the car diagnostic test can tell you what the error code is, what it means, and where exactly the problem is located.
            </p>
            <p>
                The diagnostic scanner that is used is typically a laptop and it is plugged in under the hood. The car code reader can tell you if the problem is a misfire which then it could specify if the misfire is caused by the spark plugs or the distributor. It could also tell you if the issue is a sensor, fuel injector, anti lock brake system, airbags, which sometimes includes the side airbags, and sometimes problems with the exhaust system such as the catalytic converter.
            </p>
            <h2>
                Should I get a Complete Computer Diagnostic Scan?
            </h2>
            <p>
                We believe that car owners should seek out a professional to do any scans on their vehicle so that the mechanic can see the live data in real time rather than having to go off of what the customer says.
            </p>
            <p>
                Auto repair shops may be able to get a more detailed explanation of the problem where as someone without the proper knowledge and training may see an ABS code and think they need to take apart the steering wheel or the front passenger side of the dash when really your running low on brake fluid and are at risk of their anti lock brake system failing.
            </p>
            <p>
                So before you decide to tear apart your vehicle, see an automotive repair specialist for a complete diagnostic of your vehicle to get to the root of the issue you have detected.
            </p>

        </div>
    </section>
</main>