@page "/drivability-problems"
@model BA.BoiseAutoMetric.Pages.DrivabilityProblemsModel
@section Head
{
    <title>Drivability Problems - Auto Metric</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/drivability-problems" />
    <meta property="og:site_name" content="Auto Metric" />
    <meta property="og:title" content="Drivability Problems - Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/drivability-problems" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/drivability-problems" />
    <meta name="description" content="">
    <meta itemprop="description" content="" />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="Idaho AC Repairs Boise - Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/drivability-problems" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="" />
}
@section Schema
{
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"domestic car repair, foreign car repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://westernsiding.com/","name":"About Boise's Premier Foreign Car Experts - Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}
    </script>
}


<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                Problems That Can Affect Drivability
            </h1>
            <p>
                Drivability is not only determined by driving skills. There are many mechanical aspects and vehicle functions that affect one's ability to drive. When found early, problems that limit drivability can be simple to fix. On the other hand, persistent problems have the habit of causing other issues to arise.
            </p>
            <h2>
                What can affect the drivability of a vehicle?
            </h2>
            <p>
                Vehicle drivability can be caused by many different aspects in the mechanical world. One significant factor is a flat tire. Flat tires tend to be on the simpler end of the spectrum and, when available, can be fixed in the field. On the other hand, less simple incidents may occur such as getting a hole in your radiator.
            </p>
            <h2>
                Tires and Brakes
            </h2>
            <p>
                Some seemingly simple factors may be more complex than you may believe. A flat tire, if gone unnoticed, can lead to a more pressing and financially pressing matter such as a bent or dented rim.
            </p>
            <p>
                Another prominent issue that may be affected by tires is the brakes, specifically the calipers. Calipers help to control and maintain the ability for the brake to hold pressure. When a flat tire fails to be noticed there can be an unnatural amount of resistance on the calipers causing them to bend, crack, and eventually break.
            </p>
            <p>
                Both the tires and brake systems work closely together to assist you to drive safely. When either is damaged it is a good idea to get it fixed quickly and correctly. Brake pads can also wear down and become a problem while driving. Auto shops can replace the pads to restore the brakes abilities.
            </p>
            <h2>
                Engine Problems
            </h2>
            <p>
                A lot of passenger cars today are fuel injected. They are a type of internal combustion engine meaning that the engine components work together to burn fuel making the inner workings function smoothly together. Common auto repairs include spark plug and wire replacements, pump replacements, injector replacements, belt adjustments and replacements as well as many other repairs and replacements.
            </p>
            <h2>
                Internal and Electrical Problems
            </h2>
            <p>
                Some other issues that may affect the drivability of a vehicle may include sensor failures, steering wheel malfunctions, alignment problems, and electrical shorts.
            </p>
            <h2>
                Sensors
            </h2>
            <p>
                Some of the most common sensors to fail in a vehicle are the O2 sensor, the throttle position sensor, and the mass flow sensor. Each one has its own job in keeping your vehicle running and driving properly.
            </p>
            <h2>
                Steering Wheel
            </h2>
            <p>
                If the steering wheel locks up or a wire inside the steering column comes undone, the ability to maneuver the vehicle and avoid obstacles. These problems can be fixed and should be fixed immediately. If the steering wheel won’t move or something that worked before does not work suddenly, schedule an appointment to have it fixed immediately.
            </p>
            <h3>
                Alignment
            </h3>
            <p>
                A failure in the alignment can be catastrophic. The alignment of a vehicle is done in two sections, front and rear. When the alignment is off, the vehicle can become more difficult to steer.
            </p>
            <p>
                A fault in the rear alignment can cause a vehicle to “fishtail” and can cause a vehicle to spin out in wet or icy conditions. A front alignment issue can cause a car to pull to the left or right. Either way, an alignment issue can be dangerous and should be taken care of as soon as possible.
            </p>
            <h3>
                Electrical
            </h3>
            <p>
                Shorts and breaks in the electrical system can cause a lot of issues. Some shorts can cause the car to not start or cause specific functions to not work correctly.
            </p>
            <p>
                Breaks in the wires can be caused by rodents or by the wires being pinched in a part or cover. You should not work on your own electrical system in your vehicle. Working on your own electrical system can be risky and dangerous.
            </p>
            <h3>
                Is it safe to drive with drivability problems?
            </h3>
            <p>
                We do not recommend driving a vehicle that is having any issues. When the check engine light comes on, you should call the shop and schedule an appointment to have the repairs done. Warning lights are the vehicle's way of letting you know that things are not working properly.
            </p>
            <h3>
                Listen to Your Check Engine Light.
            </h3>
            <p>
                Any time you get into the front seat and see that service light come on, you should make the call and schedule an appointment to have the problem fixed. Having a skilled certified mechanic work on your vehicle can help to avoid expensive mistakes and complications.
            </p>

        </div>
    </section>
</main>