@page
@model BA.BoiseAutoMetric.Pages.ElectricalIssuesModel
@{
    ViewData["Title"] = "Electrical Issues";
}

<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                Electrical Issues Common In European Vehicles
            </h1>
            <p>
                That being said the IoT (Internet of Things) sensors are the components driving this technology. The
                majority of
                these are manufactured in Asia (China) and the declining US/Asia supply chain problems can mean
                significant
                delays in obtaining the parts needed. This alone has affected the US Auto Industry on these electronic
                sensors
                and wiring harnesses. So repair and diagnosis are now more important than ever.
            </p>
            <p>
                Autometric specializes in this type of diagnosis and having this as part of your regular maintenance is
                a good
                idea to stay on top of the smooth operation of your vehicle’s systems. The Autometric ASE Certified
                Technicians
                can take the trouble from you by including an electronic diagnosis into your regular preventative
                maintenance.
                The protocols and electric/electronic network design protocols are within the software of the diagnostic
                equipment.
            </p>
            <p>
                Here are some of the issues you may want to keep an eye on as the years go along.
            </p>
            <p>
                <strong>Check the Posts And Terminals on the Battery</strong>, because this is where it all starts due
                to the
                engine
                ignition. As electrical vehicles become more regular, it will be more so a potential issue. Several
                European
                models use AGM (Absorbent Glass Mat) batteries in place of standard Lead/Acid batteries. AGM batteries
                have
                greater cycling resistance, but require specialized charging equipment to avoid damage and replacement
                costs are
                higher. The technician may have to reprogram or reset the computer control module.
            </p>
            <p>
                <strong>Short Circuit Issues:</strong> The vehicles are generally on a closed circuit, because of the
                features in
                these
                late
                model European vehicles. Any interruptions to the circuit due to a loose wire, damaged connection can
                cause
                intermittent issues that are difficult to find without proper diagnostic equipment. One of the issues
                can be due
                to the flexing in areas of high usage.
            </p>
            <ol>
                <li>Door Hinge/Trunk cabling</li>
                <li>Hood release cabling</li>
                <li>Emergency Brake cabling</li>
                <li>Blown Fuse</li>
            </ol>
            <p>
                The insulation (Sometimes copper or silver insulation) begins to deteriorate, then cause short circuits.
                A blown fuse will cause a problem in a specific part of the car sometimes requiring the entire harness
                needing replacement. Which is costly. Technicians with proper equipment can detect drops in specific
                areas of the circuit. Which saves you money.
            </p>
            <p>
                Call us to schedule an appointment so we can run a check on your electronic system.
            </p>
        </div>
    </section>
</main>
