@page "/foreign-car-repairs"
@model BA.BoiseAutoMetric.Pages.AutoRepairsModel
@section Head
{
    <title>Boise Foreign Car Repair Specialists Auto Metric</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/auto-repair-boise" />
    <meta property="og:site_name" content="Boise Auto Metric" />
    <meta property="og:title" content="Boise Auto Repair | Auto Repair Boise | Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/auto-repair-boise" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Boise Auto Repair.  Call Boise Auto Metric Today (208) 338-8483. Located on Vista Ave in Boise, We are Your Neighborhood Garage!" />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Boise Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/auto-repair-boise" />
    <meta name="description" content="Boise Auto Repair.  Call Boise Auto Metric Today (208) 338-8483. Located on Vista Ave in Boise, We are Your Neighborhood Garage!">
    <meta itemprop="description" content="Boise Auto Repair.  Call Boise Auto Metric Today (208) 338-8483. Located on Vista Ave in Boise, We are Your Neighborhood Garage!" />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="Boise Auto Repair | Auto Repair Boise | Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/auto-repair-boise" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Boise Auto Repair.  Call Boise Auto Metric Today (208) 338-8483. Located on Vista Ave in Boise, We are Your Neighborhood Garage!" />
}
@section Schema
{
    <script type="application/ld+json">{"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"foreign cars, auto repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Auto Metric can diagnose those pesky knocking sounds your foreign vehicle makes.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://autometric.com/","name":"Boise Foreign Auto Repairs Specialists - Auto Metric","description":"Auto Metric can diagnose those pesky knocking sounds your foreign vehicle makes.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}</script>
}
<main id="content" role="main">
    <section>
        <div class="inner">
            <h2>
                THE Foreign Car Repair Experts | Boise Foreign Car Service
            </h2>
            <p>
                While we easily take all makes and models of domestic cars, our specialty is foreign car service! Foreign cars can take some delicacy, and a lot of knowledge. Our foreign car repair experts in Boise know foreign cars inside and out! Our ASE certified mechanics are experts at diagnosing and fixing both minor and major engine issues in foreign cars. We use high tech equipment and are up to date on how to maintain and repair them.
            </p>
            <p>
                When you have a foreign vehicle, you may feel pressured to take it to a dealer or an expensive foreign vehicle shop. Dealers will always overcharge, and they always have ulterior motives. Expensive foreign shops upcharge everything, and will use a multitude of tactics to get more money out of you. But we provide the same high quality mechanical service (if not better) at a fair price to you.
            </p>
            <p>
                We take all makes and models of foreign cars. Volkswagen, BMW, Volvo, Mercedes-Benz, Nissan, Porsche, Mazda, Honda, Subaru, and the list goes on! Don't feel like your car is too specialized for us, because we see them all on a regular basis! You can trust us with your foreign baby. We'll use top quality parts with top quality care.
            </p>
            <p>
                We are honest, trustworthy, and reliable. Your satisfaction is always in mind as we work on your foreign vehicle. When it comes to foreign cars, we ARE the better option, and we'll work hard to prove it time and time again. We are THE foreign car repair specialists of Boise.
            </p>
            <p>
                To learn more about our top 5 most common foreign car brands, click on any of the makes below.
            </p>
            <ul>
                <li><a asp-page="/Volvo">Volvo</a></li>
                <li><a asp-page="/Volkswagen">Volkswagen</a></li>
                <li><a asp-page="/Audi">Audi</a></li>
                <li><a asp-page="/Mercedes-Benz">Mercedes-Benz</a></li>
                <li><a asp-page="/BMW">BMW</a></li>
            </ul>
        </div>
    </section>
</main>
