@page "/vehicle-maintenance-tips"
@model BA.BoiseAutoMetric.Pages.MaintenanceTipsModel
@section Head {
    <title>Tips for Vehicle Maintenance - Auto Metric</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/vehicle-maintenance-tips" />
    <meta property="og:site_name" content="Auto Metric" />
    <meta property="og:title" content="Tips for Vehicle Maintenance - Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/vehicle-maintenance-tips" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Schedule your maintenance with us to keep your running at peak condition." />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/vehicle-maintenance-tips" />
    <meta name="description" content="Schedule your maintenance with us to keep your running at peak condition.">
    <meta itemprop="description" content="Schedule your maintenance with us to keep your running at peak condition." />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="Tips for Vehicle Maintenance - Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/vehicle-maintenance-tips" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Schedule your maintenance with us to keep your running at peak condition." />
}
@section Schema
{
    <script type="application/ld+json">{"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"foreign cars, auto repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Schedule your maintenance with us to keep your running at peak condition.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+​12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://autometric.com/","name":"Tips for Vehicle Maintenance - Auto Metric","description":"Schedule your maintenance with us to keep your running at peak condition.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}</script>
}
<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                Maintenance Tips
            </h1>
            <p>
                <strong>Extend the life of your wiper blades.</strong>
            </p>
            <p>
                Take a clean rag with a small amount of dish soap and run the blades through the rag removing grime on your wipe blades.
            </p>
            <p>
                <strong>Don't run your fuel tank low.</strong>
            </p>
            <p>
                Did you know that most newer car fuel pumps are located inside the fuel tank? Running the fuel low increases the fuel pump heat (fuel keeps the pump cool). Heat is the main reason that fuel pumps fail and lead to very costly repairs!
            </p>
            <p>
                <strong>Check Your Tire Pressure</strong>
            </p>
            <p>
                The pressure on your tires affects fuel economy, comfort, and handling of the vehicle. The owner's manual has the recommended pressure for the vehicle. If your vehicle doesn't have a monitoring system, there are gadgets and tools to help you check the pressure. You should check your tire pressure weekly.
            </p>
            <p>
                <strong>Check Tire Tread</strong>
            </p>
            <p>
                Tire tread channels water away so the rubber of the tire can make contact with the ground. Modern tire manufacturers integrate treat wear bars into the tires, helping users know when the tires need to be changed. If your tires lack this, a popular method of testing is the penny test. Place a penny into the tire's tread groove with the head toward the tire. If you can see Lincoln's head, it's time to replace your tires.
            </p>
            <p>
                <strong>Rotate Tires and Check Alignment</strong>
            </p>
            <p>
                Your owner's manual will indict the frequency that you should rotate your vehicle's tires. If you don't have it, a good rule of thumb is every 5,000 miles.
            </p>
            <p>
                <strong>Check Your Lights</strong>
            </p>
            <p>
                While parked, check all of your vehicle's lights to make sure they work. This will help avoid a ticket. If a light is out, you can try to replace it manually if you're comfortable, or visit us to check if it's the bulb that needs to be replaced or something else.
            </p>
            <p>
                <strong>Check Fluids</strong>
            </p>
            <p>
                Your car requires a variety of fluids to operate properly. The most prominent one is oil. Check your oil at least monthly and change it according to your owner's manual. Cars that aren't driven as much can go longer between changes. Other important fluids include transmission, power steering, brake, and wiper fluid.
            </p>
        </div>
    </section>
</main>
