@page "/our-reviews"
@model BA.BoiseAutoMetric.Pages.ReviewModel
<style>
    .review-us-btn {        
        position:absolute;
        left:89%;
        top:0;
        z-index:1;
    }
    .review-us-btn-main {
        position: relative;
        display: block;
        min-height: 60px;
    }
</style>
    <section>
        <div class="inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <h2>Boise Auto Metric Reviews</h2>
                        <p class="py-3 text-xs max-width-860">Boise Auto Metric is committed to our customer’s needs, providing thoughtful and thorough vehicle care and comprehensive value-based services aimed to keep you confidently on the road.</p>
                    </div>
                    <div class="review-us-btn-main">
                        <div class="review-us-btn">
                            <a href="https://www.reviewlead.com/boise-auto-metric/" class="reviewmgr-button" data-content="Review Us" data-replace="true">Review Us</a>
                        </div>
                    </div>
                    <div class="reviewmgr-stream" data-include-empty="false" data-review-limit="10" data-url="https://www.reviewlead.com/boise-auto-metric/"></div>
                    <script src="https://platform.reviewmgr.com/stream.js"></script>
                </div>
            </div>
        </div>
    </section>