@page "/auto-service-boise-id-auto-metric"
@model BA.BoiseAutoMetric.Pages.ServicesModel
@section Head {
<title>Auto Service in Boise ID - Auto Metric</title>
<link rel="shortcut icon" type="image/x-icon" href="" />
<link rel="canonical" href="https://boiseautometric.com/auto-service-boise-id-auto-metric" />
<meta property="og:site_name" content="Auto Metric" />
<meta property="og:title" content="Auto Service in Boise ID - Auto Metric" />
<meta property="og:url" content="https://boiseautometric.com/auto-service-boise-id-auto-metric" />
<meta property="og:type" content="website" />
<meta property="og:description"
    content="Auto Metric delivers the same high-quality auto service and the best customer service in the area.  You can talk directly to the person who is going to perform the service and know that you and your vehicle are in great hands.." />
<meta property="og:image" content="/images/radiator-replacement.jpg" />
<meta property="og:image:width" content="768" />
<meta property="og:image:height" content="1024" />
<meta itemprop="name" content="Auto Metric" />
<meta itemprop="url" content="https://boiseautometric.com/auto-service-boise-id-auto-metric" />
<meta name="description"
    content="Auto Metric delivers the same high-quality auto service and the best customer service in the area.  You can talk directly to the person who is going to perform the service and know that you and your vehicle are in great hands.">
<meta itemprop="description"
    content="Auto Metric delivers the same high-quality auto service and the best customer service in the area.  You can talk directly to the person who is going to perform the service and know that you and your vehicle are in great hands." />
<meta property="business:contact_data:street_address" content="1703 Vista Ave" />
<meta property="business:contact_data:locality" content="Boise" />
<meta property="business:contact_data:state" content="Idaho" />
<meta property="business:contact_data:postal_code" content="83705" />
<meta property="business:contact_data:country_name" content="United States" />
<meta property="place:location:latitude" content="43.588331" />
<meta property="place:location:longitude" content="-116.214" />
<meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
<link rel="image_src" href="/images/radiator-replacement.jpg" />
<meta itemprop="image" content="/images/radiator-replacement.jpg" />
<meta name="twitter:title" content="Auto Service in Boise ID - Auto Metric" />
<meta name="twitter:image" content="/images/radiator-replacement.jpg" />
<meta name="twitter:url" content="https://boiseautometric.com/auto-service-boise-id-auto-metric" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description"
    content="Auto Metric delivers the same high-quality auto service and the best customer service in the area.  You can talk directly to the person who is going to perform the service and know that you and your vehicle are in great hands." />
}
@section Schema
{
<script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"foreign cars, auto repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Schedule your maintenance with us to keep your running at peak condition.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://autometric.com/","name":"Tips for Vehicle Maintenance - Auto Metric","description":"Schedule your maintenance with us to keep your running at peak condition.","publisher":{"@@type":"Person","name":"Joe Garza"}},{"@@context":"http://schema.org/","@@type":"Service","serviceType":"Automotive Repairs","provider":{"@@type":"AutoRepair","id":"https://boiseautometric.com/#","name":"Auto Metric","image":"https://boiseautometric.com/images/slideshows/main/vehicle-inspection.jpg"},"areaServed":{"@@type":"City","name":"Boise"},"hasOfferCatalog":{"@@type":"OfferCatalog","name":"Auto Repair Services","itemListElement":[{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Complete Computer Diagnostics"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Complete Safety Analysis"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Tune-ups"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Oil Change"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Tire Rotations"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Brake Repairs"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Check Engine Light Diagnosis"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Maintenance"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Engine Repairs"}},{"@@type":"Offer","itemOffered":{"@@type":"Service","name":"Electrical Auto Repairs"}}]}}]}
    </script>
}
<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>OUR SERVICES</h1>
            <h2>
                Auto Metric | Auto Mechanic Boise, ID
            </h2>
            <p>
                Boise Auto Metric is THE auto repair service of choice, regardless of make or model. We are your
                neighborhood garage! Just check all of our five star reviews.
            </p>
            <p>
                Do you own a car that needs service or maintenance? Are you feeling a bit anxious because the check
                engine light pops on, your car is acting up, or there is a new noise that you've never heard before?
                "Today of all days," you say to yourself. "I don't have the time, money or inclination to deal with this
                today!"
            </p>
            <p>
                Many folks actually experience "Auto Anxiety", the fear of all things automotive. "Do I take my car to
                the dealership service department? That's gonna cost an arm and a leg. If not the dealer, then who?"
            </p>
            <p>
                Relax... Luckily you have a friend and an ASE Certified crew of auto mechanics near you in Boise, Idaho.
                Auto Metric delivers high-quality auto service and the best customer service in the area. You can talk
                directly to the person who is going to perform the service and know that you and your vehicles are in
                great hands.
            </p>
            <h2>
                Full Auto Repair Services | Auto Metric Boise
            </h2>
            <p>
                Auto Metric is a full-service automotive service center and tire shop. Why take your vehicle to a
                national chain for service only to find out you need a minor repair or additional diagnosis that they
                can't do? Now you have to drive to an automotive repair shop and start all over again.
            </p>
            <p>
                Why take your car to the dealership and pay top dollar when you can get the exact same service with
                better customer care from our auto service experts?
            </p>
            <p>
                Our ASE Certified Mechanics perform the following service and maintenance items at a reasonable cost:
            </p>
            <ul>
                <li><a asp-page="/ForeignCarRepairs">Foreign Car Specialty</a></li>
                <li><a asp-page="/CompleteAutoRepair">Complete Auto Repairs</a></li>
                <li><a asp-page="/CompleteComputerDiagnostics">Complete Computer Diagnostics</a></li>
                <li><a asp-page="/CompleteSafetyAnalysis">Complete Safety Analysis</a></li>
                <li><a asp-page="/DrivabilityProblems">Drivability Problems</a></li>
                <li><a asp-page="/TuneUpandRegularMaintenance">Tune Up and Regular Maintenance</a></li>
                <li>Oil Changes</li>
                <li><a asp-page='/TireRotation'>Tire Rotations</a></li>
                <li>Brake Repair Specialist</li>
                <li>Steering and Suspensions</li>
                <li><a asp-page="/EngineDiagnosticServices">Check Engine Light Diagnostics</a></li>
                <li>Mechanical Issues</li>
                <li><a asp-page="/ElectricalIssues">Electrical Issues</a></li>
                <li>And pretty much anything else you can think of!</li>
            </ul>
            <h2>
                Reasons for Regular Auto Repairs and Maintenance
            </h2>
            <h3>
                “FAILING TO PROVIDE REGULAR MAINTENANCE IS THE LEADING CAUSE OF PREMATURE VEHICLE FAILURE!”
            </h3>
            <p>
                We cannot stress enough the importance of getting regular maintenance services! Getting regularly
                scheduled auto maintenance by our auto service experts will lessen the likelihood that your car will
                wear out before its time. A little preventative maintenance now helps maintain your vehicle's integrity
                and keeps you safe on the road.
            </p>
            <p>
                Bringing your vehicle in for regular maintenance will save you thousands of dollars in expensive auto
                repair bills. That is even more likely to happen if you skip your regular foreign car service. Putting
                off minor repairs can cause even more damage and ultimately cost you much more money down the road.
            </p>
            <p>
                Keeping your car maintained will help keep its value when it comes time to sell. It’s not just about the
                paint job and the interior. Your vehicle is a major investment that can be reliable for many years,
                given the right service.
            </p>
            <p>
                Knowing that your car is road worthy saves you stress. When your vehicle is properly maintained, you can
                have a worry free road trip with no concerns of breakdown. You'll always feel safe in your vehicle. Your
                peace of mind is worth it.
            </p>
            <p>
                Located on Vista Avenue in Boise, our auto repair shop is centrally located and easily accessed from
                I-84.
            </p>
            <a asp-page="/Contact" class="button-expand" style="text-decoration: none;">SCHEDULE AN APPOINTMENT</a>
        </div>
    </section>
</main>
