@page "/thank-you"
@model BA.BoiseAutoMetric.Pages.ThankYouModel
@section Head {
    <title>Thank You - Auto Metric</title>
}
<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                Thank you for contacting us.
            </h1>
            <p>
                We will get back to you shortly.
            </p>
        </div>
    </section>
</main>
