@page
@model BA.BoiseAutoMetric.Pages.TireRotationModel
@{
    ViewData["Title"] = "Tire Rotation";
}

<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                Why Should You Rotate Your Tiresasdasdadad
            </h1>
            <p>
                There are several reasons why tire rotation is an important element of your standard tire care. First,
                by routinely rotating your tires, wear is spread evenly across all four tires, and their tread life is
                maximized. That’s because each specific position on your vehicle requires a different give from each
                tire for example, tires on the front of a front-wheel drive vehicle will take a larger proportion of the
                torque and friction that’s needed for turning, accelerating and braking)—and can lead to more, or less,
                wear on the tire. It is especially important to rotate new tires by 5,000 miles because deep, fresh tire
                tread is more susceptible to uneven wear.
                Secondly, even tread wear keeps the tread depth on your tires uniform, which can help keep traction and
                handling consistent across all four tires. This will improve cornering and braking performance and keep
                your vehicle safer for driving overall.
                Finally, if your vehicle has all-wheel-drive, evenly worn tires lower the stresses on the drivetrain,
                reducing wear on expensive drive components.

                The tire rotation pattern that’s best for your vehicle will depend on the type of tire you’re using,
                whether your vehicle is front, rear, all, or four-wheel drive, whether your tires are directional or
                non-directional, whether or not your tires are the same size on the front and rear of your vehicle, and
                whether you have a full-size spare that can be rotated through as well, unlike a temporary spare..Here
                are the tire rotation patterns recommended by the standardizing body of the tire industry.

            </p>
            <div style="display:flex; justify-content: center">
                <img class='img-fluid' style='width: 700px' src='./images/tire-rotation.jpg' />
            </div>
        </div>
    </section>
</main>
