@page "/TuneUpandRegularMaintenance"
@model BA.BoiseAutoMetric.Pages.TuneUpandRegularMaintenanceModel
@section Head
{
    <title>TuneUpandRegularMaintenance - Auto Metric</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/TuneUpandRegularMaintenance" />
    <meta property="og:site_name" content="Auto Metric" />
    <meta property="og:title" content="Drivability Problems - Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/TuneUpandRegularMaintenance" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/TuneUpandRegularMaintenance" />
    <meta name="description" content="">
    <meta itemprop="description" content="" />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="Idaho AC Repairs Boise - Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/TuneUpandRegularMaintenance" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="" />
}
@section Schema
{
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"domestic car repair, foreign car repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://westernsiding.com/","name":"About Boise's Premier Foreign Car Experts - Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}
    </script>
}


<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                Tune-ups and Regular Maintenance for Your Car
            </h1>
            <p>
                Have you noticed lately that when you start your car it sounds a little...off? Maybe it sounds like your transmission is slipping or there is a squealing noise as it warms up. Perhaps you just notice as you’re driving that your car is having a tough time shifting from one gear to the next. If you are experiencing any of these issues, it is time for a tune-up.
            </p>
            <h2>
                Why You Should Get a Tune-up and Regular Maintenance

            </h2>
            <p>
                Before we had cars, people used horses and other beasts of burden to get from point A to point B. Part of using animals for transportation was checking them over before and after for any sores where their saddles or harnesses were, checking their feet for any rocks or other causes of lameness and rubbing them down, especially if they had worked up a sweat. Once civilization switched over to mechanical beasts of burden, the need to check over our modes of transportation changed significantly.
                Nowadays, we need to check the oil in our car regularly, make sure that there is coolant in the radiator, and that our tire pressure is good. Sometimes, though, even after we have done all of those things, our car needs a little bit more TLC. That’s why taking your car in for regular tune-ups and regular maintenance is so important.
                If your car is running rough or having any issues, you should bring it into a qualified mechanic as soon as possible. Bringing your car in as soon as it exhibits any kind of issues could save you the hassle of having to get your car towed into a shop as well as save you money overall from not having to pay for more costly repairs that could have been caught before they became detrimental to your car’s wellbeing.
            </p>
            <h3>
                What to Expect When You Bring Your Car in for a Tune-up
            </h3>
            <p>
                When you bring your car in for a tune-up, you can expect your mechanic to check all the belts and replace any that need replacing. They will also check out the spark plugs, replace any that need replacing and just give your engine a general once over. You may need to have your fuel and air filter replaced. They will do that as well. Most mechanic shops will also check your battery and electrical system to make sure they are working properly.
            </p>
            <p>
                If your check engine light is on, your mechanic may check a few extra systems to see what the issue is. They may run a diagnostic test to see what the root cause of the problem is and then come back to you with additional services your car may need. It is better to find out what the issue is and take care of it while it is in the shop than having to deal with it afterward when it could possibly cost you more money to fix.
            </p>
            <h4>
                How Often Should I Take My Car in for a Tune-Up if it doesn’t have any issues?
            </h4>
            <p>
                Your car may not be having any issues, so you might be asking why you would need to bring your car in for a tune-up if nothing is wrong with it. That is a valid question that doesn’t have an answer that is perfectly straightforward.
            </p>
            <p>
                The age of your car factors into how often you get your car tuned up. If you happen to have a car that is an older model, then getting your car in for a tune-up once a year is recommended. With newer model cars you can go 100,000 miles before you need a tune-up. No matter if you have an older model car or a new one, check your owner’s manual to make sure when you need to bring your car in for a tune-up.
            </p>
            <h5>
                How Boise Auto Metric can help
            </h5>
            <p>
                When you bring your car into Boise Auto Metric, we do our best to make sure that you drive away knowing that your car received the best care possible. We can, and will, make sure to check your car over completely for any issues, let you know what the problem is, then get you out the door driving a safer car. Our goal is to get you back on the road all while not robbing the bank to do so.
            </p>
        </div>
    </section>
</main>