@page "/volkswagon"
@model BA.BoiseAutoMetric.Pages.VolkswagenModel
@section Head
{
    <title>Volkswagon - Auto Metric</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/volkswagon" />
    <meta property="og:site_name" content="Auto Metric" />
    <meta property="og:title" content="Volkswagon - Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/volkswagon" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/volkswagon" />
    <meta name="description" content="">
    <meta itemprop="description" content="" />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="Idaho AC Repairs Boise - Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/volkswagon" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="" />
}
@section Schema
{
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"domestic car repair, foreign car repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://westernsiding.com/","name":"About Boise's Premier Foreign Car Experts - Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}
    </script>
}
<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                Volkswagen Specialists | Foreign Car Experts of Boise, Idaho
            </h1>
            <p>
                Volkswagens are one of the top two most common cars that we get in our shop. We work on them on a regular basis and are extremely familiar with their systems. For us, VW Specialists, working on Volkswagens is easy! Come to us for all of your Volkswagen repair needs. We are family owned, and we pride ourselves on our honesty and trustworthiness. <a href="/#best-in-boise" target="_blank">See why we’re the best in Boise.</a>
            </p>
            <h2>
                About the Volkswagen Brand | VW Specialist Boise
            </h2>
            <p>
                VW is one of the most well known car manufacturers in the world. Their history begins in 1937. Their first car was the KdF-Wagen, followed by the Beetle, which was so popular that the company grew rapidly. Ferdinand Porsche was involved in the creation of the Beetle, and later went on to start Porsche. Today, Volkwagen’s most popular models include the VW Golf, the VW Jetta, and the VW Passat.
            </p>
            <p>
                The Volskwagen brand also owns Audi, SEAT, ŠKODA, Bentley, Bugatti, Lamborghini, Porsche, Ducati, Scania, and MAN.
            </p>
            <h2>
                The Pros of Volkswagens
            </h2>
            <p>
                Volkswagen cars are well known for their easy maintenance and excellent gas mileage. They are stylish and affordable. They have favorable service prices and great warranties.
            </p>
            <p>
                The diesels made prior to 2008 are incredible. ‘95 to ‘05 are some of Volkswagen’s best years for their diesels. They are reliable, easy to work on, parts are affordable, and some people have claimed getting 55mpg in a little station wagon. These engines easily reach 300,000 miles, maybe even 400,000 if properly maintained.
            </p>
            <p>
                2008-2012 VW Golfs with gas engines are small, 4 door sedans that are very reliable. Their gas motors last for ages.
            </p>
            <p>
                The VW Phaetons are the elite models of the VW brand, 2006-2012 being some of their best years. Their interior setups are similar to Bentley Continentals! For some people, it’s an intimidating car to work on. But Boise Auto Metric specializes in Volkswagens! These cars are actually quite easy to service and maintain for THE Foreign Car Specialists of Boise.
            </p>
            <p>
                VW Tiguans are another great model for VW, specifically 2-liter TSI 4-cylinder gas engines, and are similar to Ford Ecoboost models and Audis.
            </p>
            <p>
                VW TIs from 2008-2010 are one of Volkswagen’s only sports cars. They’re fast and have great handling. They’re extremely fun to drive. Yet again, for our experienced ASE Certified mechanics at Boise Auto Metric, these cars are easy to work on.
            </p>
            <h2>
                The Cons of Volkswagens
            </h2>
            <p>
                Volkswagen materials are mass produced at economical prices, meaning they’re cheaply made and not the highest quality.
            </p>
            <p>
                VW issues include frequent electrical issues and sensor issues. The sensors are extremely delicate and can cause serious performance issues when they act up.
            </p>
            <p>
                Volkswagens often have oil leaks, misfires, and timing issues. Their timing belts have to be replaced frequently, and they regularly blow head gaskets. These are all issues that we see frequently and we are quite adept at fixing said issues.
            </p>
            <p>
                Unfortunately, most of the newer (Since 2006) VW TDI diesels such as VW Passat TDIs have issues because of emissions restrictions. The contraptions added to the cars because of emissions restrictions create complex systems that choke the engine, limiting it from top performance. These complex systems are extremely expensive to repair when they break. It often results in a headache. Newer Volkswagen vehicles with diesel engines are delicate and have performance issues.
            </p>
            <p>
                The 2002-2007 VW Touareg TDI V10 is a model that requires the engine to be pulled out for almost everything because there’s no room to access the parts with it in. Cars that require the engines to be removed to work on will almost always cost more in labor fees. In addition, these models are expensive in general for mechanic work. Many mechanics hate working on these cars. But at Auto Metric, we’re skilled and knowledgeable enough to handle the job!
            </p>
            <p>
                Most older Volkswagen sports cars have extremely expensive parts because they’re difficult to find. These cars have complex systems that take longer to repair. Many people are not prepared to putting in the kind of money it takes to fix these cars. Most mechanic shops these days won’t even work on these cars. However, Boise Auto Metric is the expert on all things Volkswagen, and won’t turn you away because of your model.
            </p>
        </div>
    </section>
</main>