@page "/volvo"
@model BA.BoiseAutoMetric.Pages.VolvoModel
@section Head
{
    <title>Volvo - Auto Metric</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="canonical" href="https://boiseautometric.com/volvo" />
    <meta property="og:site_name" content="Auto Metric" />
    <meta property="og:title" content="Volvo - Auto Metric" />
    <meta property="og:url" content="https://boiseautometric.com/volvo" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/images/radiator-replacement.jpg" />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="1024" />
    <meta itemprop="name" content="Auto Metric" />
    <meta itemprop="url" content="https://boiseautometric.com/volvo" />
    <meta name="description" content="">
    <meta itemprop="description" content="" />
    <meta property="business:contact_data:street_address" content="1703 Vista Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="Idaho" />
    <meta property="business:contact_data:postal_code" content="83705" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.588331" />
    <meta property="place:location:longitude" content="-116.214" />
    <meta itemprop="thumbnailUrl" content="/images/radiator-replacement.jpg" />
    <link rel="image_src" href="/images/radiator-replacement.jpg" />
    <meta itemprop="image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:title" content="Idaho AC Repairs Boise - Auto Metric" />
    <meta name="twitter:image" content="/images/radiator-replacement.jpg" />
    <meta name="twitter:url" content="https://boiseautometric.com/volvo" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="" />
}
@section Schema
{
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.boiseautometrics.com","name":"Auto Metric","contentRating":"G","keywords":"domestic car repair, foreign car repairs, boise, idaho"},{"@@type":"AutoRepair","@@id":"https://www.boiseautometrics.com","name":"Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","image":"http://www.boiseautometrics.com/images/radiator-replacement.jpg","url":"https://www.boiseautometrics.com","logo":"https://www.boiseautometrics.com/style/images/auto-metric-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check, Visa, Master Card, Discover, Amex","priceRange":"$$ - $$$$","aggregateRating":{"@@type":"AggregateRating","ratingValue":"5","reviewCount":"20"},"address":[{"@@type":"PostalAddress","streetAddress":"1703 Vista Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83705"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.588331","longitude":"-116.214"}],"telephone":"+12083388483","openingHours":["Mo-Sa 9:00-17:30"],"hasMap":{"@@type":"Map","url":"https://goo.gl/maps/DrPgG574uKo"},"sameAs":["https://www.facebook.com/Auto-Metric-342222916146867","https://twitter.com/boiseautometric"]},{"@@context":"http://schema.org","@@type":"WebPage","@@id":"https://westernsiding.com/","name":"About Boise's Premier Foreign Car Experts - Auto Metric","description":"Auto Metric has offered complete auto repair services for all makes and models since 1993. We repair all makes and models of domestic and foreign cars.","publisher":{"@@type":"Person","name":"Joe Garza"}}]}
    </script>
}
<main id="content" role="main">
    <section>
        <div class="inner">
            <h1>
                Volvo Specialists | Foreign Car Mechanics of Boise, Idaho
            </h1>
            <p>
                Volvos are probably the most common car that we see in our shop. These cars are known for their high safety ratings, secure handling, comfortability, smooth ride, and quiet engines. Through the decades, Volvo has almost always made a solid vehicle through its line.
            </p>
            <p>
                Their general maintenance is about the same as any other car, although they do have their quirks! If you have a Volvo or are thinking about getting one, find a Volvo shop for regular repairs and maintenance. It will save time and hassle later, since it is not a regular car and it does require a bit of specialization. Auto Metric is a Volvo specialist and a foreign vehicle shop.
            </p>
            <h2>
                About the Volvo Brand
            </h2>
            <p>
                Volvo is a Swedish automobile brand that primarily makes sport utility vehicles, sedans, station wagons, and hatchbacks. The first Volvo car was made in Gothenburg, Sweden in 1927. The company was bought in 2010 by Zhejiang Geely Holding of China, who still own it.
            </p>
            <h2>
                The Pros of Volvos
            </h2>
            <p>
                Take one for a drive and feel the difference. These cars stand out from the others. As mentioned above, they have high safety ratings, provide a smooth and comfortable ride, have quiet engines, and great handling. And if interiors are your thing, you will probably love the luxurious interiors of these cars.
            </p>
            <p>
                Volvo parts are high quality products. Although there is a stereotype that they’re expensive to fix, they’re really not. Their general maintenance costs are just about the same or just a touch more than a domestic car.
            </p>
            <p>
                Maintenance on Volvos is, for us, fairly easy since we specialize in them. Seeing them on a regular basis, we are adept at Volvo repairs and maintenance. When you keep up on your maintenance and repairs, these cars will reward you by lasting a long time to come.
            </p>
            <p>
                We are partial to their XC90s, XC70s, XC60s, and their V90s.
            </p>
            <p>
                Their SUV and wagon lines have a sharp look whether they’re new or old.
            </p>
            <p>
                Their 4 cylinders out of the 80s were great.
            </p>
            <h2>
                The Cons of Volvos
            </h2>
            <p>
                Not too many parts on Volvos will break if maintenance is kept up. We try to maintain and replace items before they break down or get towed in.
            </p>
            <p>
                Again, the high quality parts can cost a little more than an average domestic vehicle, but we don’t see this as a con so much because it is not that much more expensive, and those high quality parts will last a very long time when properly maintained.
            </p>
            <p>
                That said, two models that do come to mind when thinking of costly maintenance are the 2004-2006 XC90s, T6s, and the Volvo models with V8s. Maintenance and repairs can get costly with those.
                Overall, so long as you find a good mechanic that specializes in Volvos and foreign vehicles, and you’re willing to spend a small increment more on the maintenance, we do not see many cons to owning one!
            </p>
            <p>
                They do have scheduled, timed and mileage maintenance items.
            </p>
            <p>
                Going back to the 80s, their diesels and 6-cylinders are ones to avoid as well. Their early AWD (all wheel drive) models from the 90s and into the early 2000s are ones to shy away from as well, since they did not have electronic control over the AWD systems.
            </p>
        </div>
    </section>
</main>